{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range .Pages.ByWeight.Reverse }}

    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ if isset .Params "description" }}
      <p> {{ .Description }} </p>
    {{ end }}

    {{ if isset .Params "preview" }}
      <img src="{{ .Params.Preview }}">
    {{ end }}

    {{ if isset .Params "youtube" }}
      <div class="yt-video">
        <iframe src="https://www.youtube-nocookie.com/embed/{{ .Params.Youtube }}" allowfullscreen ></iframe>
      </div>
    {{ end }}

    {{ if isset .Params "video" }}
      <div><video width=100% controls preload="metadata">
        <source src="{{ .Params.Video }}#t={{ with .Params.VideoTime }}{{ . }}{{ else }}0.1{{ end }}" type="video/mp4">
        тут должно было быть видео  
      </video></div>
    {{ end }}

    {{ if ne .Params.More "no" }}
      <p><a href="{{ .Permalink }}">{{ T "read-more" }}</a></p>
    {{ end }}
  <!-- <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li> -->
  {{ end }}
</ul>

{{ partial "footer.html" . }}
